/* @font-face {
    font-family: 'sourcesanspro';
    font-style: normal;
    font-weight: bold;
    font-display: block;
    src: url(https://design.penpot.app/fonts/sourcesanspro-bold.woff) format('woff');
  } */

html, body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}


/* Rectangle */
.Navbar-rectangle {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-block: 20px;
  background-color: lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.globe {
  padding: 20px;
}

h3 {
  color: black;
  z-index: 1;
  position: relative;
}

h4{
  position: relative;
}
.boxinthemid {
  order: 1;
  flex-grow: 2;
}


.linksinnav {
  order: 3;
  padding-right: 50px;
}

.First-box {
  width: 100%;
  height: 400px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titlesandstuff {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titlesandstuff2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kokunairyuu {
  align-self: center;
  color: blueviolet;
  padding-bottom: 0px;
}

.atarashiimana {
  align-self: center;
  color: black;
}